<div class='header-section' id='{{ section.id }}'>
    {% for block in section.blocks %}
        {% case block.type %}
            {% when 'menu' %}
                {% render 'nav-menu' with block as block %}
            {% when 'logo' %}
                {% render 'logo' with block as block %}
            {% when 'nav-icons' %}
                {% render 'nav-icons' with block as block %}
        {% endcase %}
    {% endfor %}
</div>

{% style %}

    .header-section {
        width: 100%;
        box-sizing: border-box;
    }

    #{{ section.id }} {
        {% if section.settings.mobile_layout_type == 'grid' %}
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        {% else %}
            display: flex;
        {% endif %}
        height: {{ section.settings.height }}px;
        padding: 0px {{ section.settings.h_padding }}px;
        gap: {{ section.settings.h_spacing }}px;
    }

{% endstyle %}

<!-- {% for block in section.blocks %}
        {% case block.type %}
            {% when 'menu' %}
                #{{ block.id }} {
                    flex-direction: {{ block.settings.direction }};
                    justify-content: {{ block.settings.justify_content }};
                    font-family: {{ block.settings.font.family }}, {{ block.ettings.font.fallback_families }} !important;
                    gap: {{ block.settings.spacing }}px;
                }
        {% endcase %}
    {% endfor %} -->

{% javascript %}

    function alignHeaderElements() {
        const header_sections = document.getElementsByClassName('header-section');//.querySelectorAll('#{{ section.id }}-e > *:not(style)');

        console.log(header_sections);
        for ( section of header_sections ) {
            const header_elements = section.querySelectorAll('.header-section > *:not(style):not(script)');
            if( header_elements.length > 0 ) {
                console.log(header_elements.item(0));
                header_elements.item(0).classList.add('h-fit-content');
                header_elements.item(1).classList.add('flex-grow-1');
                if( header_elements.length == 3 ) {
                    header_elements.item(2).classList.add('h-fit-content');
                }
            }
        }
    }

    alignHeaderElements();

    document.addEventListener('shopify:section:load', () => {
        alignHeaderElements();
    })
    
    

{% endjavascript %}



{% schema %}
{
    "name": "Header Section",
    "enabled_on": {
        "groups": ["header"]
    },
    "settings": [
        {
            "type": "range",
            "id": "height",
            "min": 100,
            "max": 200,
            "step": 20,
            "unit": "px",
            "label": "t:sections.header.settings.height.label",
            "default": 100
        },
        {
            "type": "range",
            "id": "h_padding",
            "min": 0,
            "max": 56,
            "step": 4,
            "unit": "px",
            "label": "Horizontal padding",
            "default": 16
        },
        {
            "type": "range",
            "id": "h_spacing",
            "min": 0,
            "max": 56,
            "step": 4,
            "unit": "px",
            "label": "Horizontal spacing",
            "default": 16
        },
        {
            "type": "select",
            "id": "mobile_layout_type",
            "label": "Mobile Layout",
            "options": [
                {
                    "value": "grid",
                    "label": "2x2 Grid"
                },
                {
                    "value": "flexbox",
                    "label": "Flexbox"
                }
            ],
            "default": "flexbox"
        }
    ],
    "blocks": [
        {
            "type": "@app"
        },
        {
            "type": "menu",
            "name": "Menu",
            "settings": [
                { 
                    "type": "header",
                    "content": "General"
                },
                {
                    "type": "link_list",
                    "id": "menu",
                    "label": "Menu"
                },
                {
                    "type": "header",
                    "content": "Typography"
                },
                {
                    "type": "font_picker",
                    "id": "font",
                    "label": "Font",
                    "default": "mono"
                },
                {
                    "type": "color",
                    "id": "item_color",
                    "label": "Item color",
                    "default": "#808080"
                },
                {
                    "type": "color",
                    "id": "active_item_color",
                    "label": "Active item color",
                    "default": "#000000"
                },
                {
                    "type": "header",
                    "content": "Positioning"
                },
                {
                    "type": "select",
                    "id": "direction",
                    "label": "Direction",
                    "options": [
                        {
                            "value": "row",
                            "label": "Horizontal"
                        },
                        {
                            "value": "column",
                            "label": "Vertical"
                        },
                        {
                            "value": "row-reverse",
                            "label": "Horizontal Reverse"
                        },
                        {
                            "value": "column-reverse",
                            "label": "Vertical Reverse"
                        }
                    ],
                    "default": "row"
                },
                {
                    "type": "range",
                    "id": "spacing",
                    "label": "Item Spacing",
                    "min": 8,
                    "max": 48,
                    "step": 4,
                    "unit": "px",
                    "default": 16
                },
                {
                    "type": "select",
                    "id": "justify_content",
                    "label": "Justify Content",
                    "options": [
                        {
                            "value": "flex-start",
                            "label": "Start"
                        },
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "flex-end",
                            "label": "End"
                        }
                    ],
                    "default": "flex-start"
                },
                {
                    "type": "header",
                    "content": "Drawer"
                },
                {
                    "type": "color",
                    "id": "drawer_color",
                    "label": "Drawer color",
                    "default": "#D3D3D3"
                },
                {
                    "type": "range",
                    "id": "drawer_background_opacity",
                    "label": "Drawer background opacity",
                    "min": 0,
                    "max": 1,
                    "step": 0.1,
                    "default": 0.5
                },
                {
                    "type": "color",
                    "id": "drawer_background_color",
                    "label": "Drawer background color",
                    "default": "#000000"
                },
                {
                    "type": "select",
                    "id": "drawer_position",
                    "label": "Drawer position",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        },
                        {
                            "value": "top",
                            "label": "Top"
                        },
                        {
                            "value": "bottom",
                            "label": "Bottom"
                        }
                    ],
                    "default": "left"
                },
                {
                    "type": "range",
                    "id": "drawer_padding",
                    "label": "Drawer padding",
                    "min": 0,
                    "max": 128,
                    "unit": "px",
                    "step": 8,
                    "default": 32
                },
                {
                    "type": "range",
                    "id": "mobile_drawer_padding",
                    "label": "Mobile drawer padding",
                    "min": 0,
                    "max": 64,
                    "unit": "px",
                    "step": 4,
                    "default": 16
                },
                {
                    "type": "header",
                    "content": "Mobile"
                },
                {
                    "type": "image_picker",
                    "id": "mobile_icon",
                    "label": "Mobile menu icon"
                },
                {
                    "type": "select",
                    "id": "mobile_menu_type",
                    "label": "Mobile menu type",
                    "options": [
                        {
                            "value": "drawer",
                            "label": "Drawer"
                        },
                        {
                            "value": "no-drawer",
                            "label": "No drawer"
                        }
                    ],
                    "default": "drawer"
                }
                
            ]
        },
        {
            "type": "logo",
            "name": "Logo",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "img",
                    "label": "Image"
                },
                {
                    "type": "range",
                    "id": "size",
                    "label": "Size",
                    "min": 1,
                    "max": 3,
                    "step": 0.2,
                    "default": 1
                },
                {
                    "type": "header",
                    "content": "Alignment"
                },
                {
                    "type": "select",
                    "id": "justify_content",
                    "label": "Justify Content",
                    "options": [
                        {
                            "value": "flex-start",
                            "label": "Start"
                        },
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "flex-end",
                            "label": "End"
                        }
                    ],
                    "default": "flex-start"
                },
                {
                    "type": "header",
                    "content": "border"
                },
                {
                    "type": "checkbox",
                    "id": "border",
                    "label": "Show border",
                    "default": false
                },
                {
                    "type": "range",
                    "id": "border_thickness",
                    "label": "Border thickness",
                    "min": 1,
                    "max": 10,
                    "step": 1,
                    "default": 1
                },
                {
                    "type": "select",
                    "id": "border_style",
                    "label": "Border style",
                    "options": [
                        {
                            "value": "solid",
                            "label": "Solid"
                        },
                        {
                            "value": "dotted",
                            "label": "Dotted"
                        },
                        {
                            "value": "dashed",
                            "label": "Dashed"
                        },
                        {
                            "value": "double",
                            "label": "Double"
                        }
                    ],
                    "default": "solid"
                },
                {
                    "type": "color",
                    "id": "border_color",
                    "label": "Border color",
                    "default": "#000000"
                }
            ]
        },
        {
            "type": "nav-icons",
            "name": "Nav Icons",
            "settings": [
                {
                    "type": "checkbox",
                    "id": "cart_icon",
                    "label": "Show cart icon",
                    "default": true
                },
                {
                    "type": "image_picker",
                    "id": "cart_icon_img",
                    "label": "Cart icon image"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Header Section",
            "settings": {
                "height": 140
            },
            "blocks": [
                {
                    "type": "menu",
                    "settings": {
                            "menu": "main-menu",
                            "direction": "row"
                        }
                }
            ]
        }
    ]
}
{% endschema %}

<!-- height: {{ section.settings.height }}px;
        padding: 0px {{ section.settings.h_padding }}px;
        gap: {{ section.settings.h_spacing }}px; -->